{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-6 ">
        <form class="mt-5" action="" method="post">
            <div class="mb-3">
                <div class="form-group">
                    <label for="searchquery" class="form-label"><h1 class="text-center">Search</h1></label>
                    <input type="text" class="form-control" id="searchquery" name="searchquery" value={{ request.form["searchquery"] }}>
                    <div id="searchHelp" class="form-text">Search by title, author, genre, etc.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="row mt-5 d-flex align-items-stretch">
    {% for result in search_results %}
    <div class="col-3 mb-4">
        <div class="card">
            {% if result['thumbnail'] %}
                <img src="{{ result['thumbnail'] }}" class="card-img-top" alt="...">
            {% else %}
                <img src="..." class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href="{{ result['link'] }}">{{ result['title'] }}</a></h5>
              <p class="card-text">Author(s): {{ result['author(s)'] }}</p>
              <p class="card-text">Views: {{ result['views'] }}</p>
                    <form action="/book" method="GET">
                        <input type="hidden" name="bookurl" value="{{ result['link'] }}">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </form>
            </div>
          </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

